body {
  background-color: red;
}
@media (max-width: 1000px) {
  body {
    background-color: rgb(5, 255, 88);
  }
}
@media (max-width: 750px) {
  body {
    background-color: rgb(255, 138, 5);
  }
}
@media (max-width: 500px) {
  body {
    background-color: aqua;
  }
}
